Source: vyatta-service-telnet
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 config-package-dev,
 cpio,
 dh-yang
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-service-telnet.git
Vcs-Browser: https://github.com/nudanos/vyatta-service-telnet

Package: vyatta-service-telnet
Architecture: any
Depends: systemd,
 vyatta-cfg,
 telnetd,
 libpam-systemd,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0), vyatta-op (<< 1.0)
Replaces: vyatta-cfg-system (<< 1.6.0), vyatta-op (<< 1.0)
Provides: openbsd-inetd
Description: Telnet helper scripts
 Scripts to handle configuration of telnet

Package: vyatta-service-telnet-v1-yang
Architecture: all
Depends: vyatta-service-telnet,
 ${misc:Depends},
 ${yang:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Description: vyatta-service-telnet-v1 module
 Telnet configuration

Package: vyatta-service-telnet-routing-instance-v1-yang
Architecture: all
Depends: chvrf,
 vyatta-service-telnet,
 ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-telnet-routing-instance-v1 module
 Telnet configuration in VRF

Package: vyatta-telnet-routing-instance
Architecture: all
Depends: chvrf,
 vyatta-service-telnet,
 ${misc:Depends},
 ${yang:Depends}
Description: Telnet op mode command with VRF support
 Telnet operational mode command with VRF support having
 'routing-instance' option
