#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

override_dh_installsystemd:
	dh_installsystemd --name=telnetd --no-enable --no-start
	dh_installsystemd --name=telnetd@ --no-enable --no-start


%:
	dh $@ --with config-package --with yang
