#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

override_dh_systemd_enable:
	dh_systemd_enable --name=telnetd --no-enable
	dh_systemd_enable --name=telnetd@ --no-enable

override_dh_systemd_start:
	dh_systemd_start --no-start

%:
	dh $@ --with config-package --with yang
